* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h3 {
  font-size: 21px;
  font-weight: 600;
}
.title p {
  font-size: 18px;
  width: 600px;
}

.layover {
  padding: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(148, 40, 40, 0.8), #fc7524);
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layover:hover {
  cursor: pointer;
  opacity: 1;
}
.layover i {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #515552;
  background-color: white;
  margin-bottom: 10px;
  text-align: center;
}
.layover h4 {
  font-family: "Vidaloka", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.active {
  background-color: white;
}

.photo {
  position: relative;
}

img {
  width: 100%;
  display: block;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 150px;
  right: 15px;
}
.popup > * {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
  font-weight: 600;
  overflow: hidden;
  width: 65px;
  height: 65px;
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup > * img {
  width: 30px;
}
.popup > * div {
  font-size: 12px;
}
.popup > * .price {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  color: #1ca142;
  font-family: Arial, Helvetica, sans-serif;
}
.popup > * span {
  vertical-align: super;
  font-size: 14px;
}

.turn-up {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 30px;
  left: 80px;
  transition: all 0.5s;
}
.turn-up:hover {
  background-color: #FC7625;
}

.bigBanner .text {
  text-align: left;
}

.bannerLinks.animate_animated {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.bannerLinks.animate_animated2 {
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fade-in 0.15s;
          animation: fade-in 0.15s;
  position: relative;
}

@-webkit-keyframes fade-in {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 50px;
    top: 0;
  }
  51% {
    left: -50px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes fade-in {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 50px;
    top: 0;
  }
  51% {
    left: -50px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.fadeOut {
  -webkit-animation: fade-out 0.15s;
          animation: fade-out 0.15s;
  position: relative;
}

@-webkit-keyframes fade-out {
  0% {
    right: 0;
    top: 0;
  }
  50% {
    right: 50px;
    top: 0;
  }
  51% {
    right: -50px;
    top: 0;
  }
  100% {
    right: 0;
    top: 0;
  }
}

@keyframes fade-out {
  0% {
    right: 0;
    top: 0;
  }
  50% {
    right: 50px;
    top: 0;
  }
  51% {
    right: -50px;
    top: 0;
  }
  100% {
    right: 0;
    top: 0;
  }
}
.price.animate_animated:hover {
  -webkit-animation: tada 1s;
          animation: tada 1s;
}

header {
  background-color: white;
  padding: 0 10%;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header .top .download {
  font-size: 12px;
}
header .top .download a {
  padding: 0 13px;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}
header .top .download a span {
  margin-left: 3px;
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
  padding: 0 5px;
  font-size: 10px;
}
header .top .download a span:hover {
  background-color: #f55e03;
}
header .top .icons {
  font-size: 16px;
}
header .top .icons li {
  position: relative;
  display: inline-block;
}
header .top .icons li:hover i {
  color: #adafb0;
}
header .top .icons li:hover div {
  opacity: 1;
}
header .top .icons li div {
  font-size: 12px;
  background-color: #383b39;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  opacity: 0;
}
header .top .icons li div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  height: 5px;
  width: 5px;
  background-color: #383b39;
}
header .top .icons i {
  transition: all 0.5s;
  padding: 0 15px;
  color: #939697;
}
header .logo {
  margin: auto;
  display: block;
  margin-bottom: 15px;
  width: 152px;
}

nav {
  padding-bottom: 5px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: white;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  right: 0;
  top: 0;
}
nav i {
  transition: all 0.3s;
}
nav i:hover {
  color: #FC7625;
  cursor: pointer;
}
nav ul {
  display: inline-block;
}
nav ul li {
  cursor: pointer;
  display: inline-block;
  padding: 15px 0;
}
nav ul li:not(:first-child):hover a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #FC7625;
  -webkit-animation: underLinkright 0.3s linear;
          animation: underLinkright 0.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: center;
}
@-webkit-keyframes underLinkright {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes underLinkright {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
nav ul li:hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: white;
  -webkit-animation: underLinkLeft 0.3s linear;
          animation: underLinkLeft 0.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
}
@-webkit-keyframes underLinkLeft {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}
@keyframes underLinkLeft {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}
nav ul li:hover a {
  color: #FC7625;
}
nav ul li a {
  padding-bottom: 5px;
  font-weight: 600;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
  margin: 0 35px;
  position: relative;
  transition: all 0.3s;
}
nav ul li:first-child a {
  color: #FC7625;
  border-bottom: 3.5px solid #FC7625;
  padding-bottom: 1.5px;
}
nav i {
  margin-left: 30px;
}

.jumbotron {
  background-image: url("../img/single-post-img3.jpg");
  width: 100%;
  height: 720px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.jumbotron .banner {
  cursor: initial;
  display: inline-block;
  width: 700px;
  background-color: white;
  margin: auto;
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  border-radius: 8px;
  position: relative;
}
.jumbotron .banner h1 {
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 20px;
}
.jumbotron .banner h1:hover {
  color: #FC7625;
  cursor: default;
}
.jumbotron .banner span {
  cursor: default;
  color: #383b39;
  font-size: 18px;
}
.jumbotron .banner .pick {
  position: absolute;
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
  padding: 7px 20px;
  font-size: 16px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
.jumbotron .banner .pick:hover {
  background-color: #f55e03;
}

main {
  background-color: #e8e5e1;
  padding: 0 10%;
  text-align: center;
}
main p {
  font-size: 18px;
}

section.foodie-journal {
  background-color: white;
  position: relative;
  top: -75px;
}
section.foodie-journal > h3 {
  font-size: 21px;
  font-weight: 600;
  padding: 30px 0;
  position: relative;
}
section.foodie-journal > h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 37%;
  height: 50%;
  border-top: 1px dotted #bcbcbd;
  right: 40px;
}
section.foodie-journal > h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 37%;
  height: 50%;
  border-top: 1px dotted #bcbcbd;
  left: 40px;
}
section.foodie-journal ul {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
section.foodie-journal ul li {
  width: 345px;
  position: relative;
  margin-bottom: 50px;
}
section.foodie-journal ul li h3 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  margin-top: 25px;
  transition: all 0.5s;
  margin-bottom: 5px;
  padding: 0 15px;
}
section.foodie-journal ul li h3:hover {
  color: #FC7625;
}

section.popular-recipes .images {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
section.popular-recipes .images h3 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  margin-top: 25px;
  transition: all 0.5s;
}
section.popular-recipes .images h3:hover {
  color: #FC7625;
}
section.popular-recipes .images > * {
  max-width: 600px;
}
section.popular-recipes .images .bigBanner {
  background-color: white;
  padding-bottom: 40px;
}
section.popular-recipes .images .bigBanner .text {
  padding: 10px 30px;
}
section.popular-recipes .images .bigBanner .text p {
  padding-top: 25px;
  margin: 25px 0;
  border-top: 1px dotted #bcbcbd;
}
section.popular-recipes .images .bigBanner p {
  padding-right: 20px;
  margin-bottom: 5px;
}
section.popular-recipes .images .bigBanner span a {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
  transition: all 0.5s;
  font-size: 15px;
}
section.popular-recipes .images .bigBanner span a:hover {
  color: #FC7625;
}
section.popular-recipes .images .bigBanner .btn {
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
  font-size: 14px;
  padding: 10px 20px;
}
section.popular-recipes .images .bigBanner .btn:hover {
  background-color: #f55e03;
}
section.popular-recipes .images .smallBanner {
  margin-left: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
section.popular-recipes .images .smallBanner > * {
  width: 275px;
}
section.popular-recipes .images .smallBanner img {
  height: 175px;
}

section.culinary-collection .types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  padding: 30px 0;
}
section.culinary-collection .types .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 264px;
  height: 170px;
  background-color: white;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
}
section.culinary-collection .types .cards img {
  width: 96px;
  height: 96px;
  transition: all 1s;
}
section.culinary-collection .types .cards img:hover {
  width: 106px;
  height: 106px;
  cursor: pointer;
}
section.culinary-collection .types .cards a:last-child {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 0;
  transition: all 0.3s;
}
section.culinary-collection .types .cards a:last-child:hover {
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
}
section.culinary-collection .types .cards a:last-child:hover:hover {
  background-color: #f55e03;
}

section.farm-to-table {
  padding-bottom: 100px;
}
section.farm-to-table .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
section.farm-to-table .top .text {
  text-align: left;
  max-width: 525px;
}
section.farm-to-table .top .text h3 {
  font-size: 21px;
}
section.farm-to-table .top > a {
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
  padding: 10px 25px;
  font-size: 14px;
}
section.farm-to-table .top > a:hover {
  background-color: #f55e03;
}
section.farm-to-table .top > a i {
  margin-left: 5px;
}
section.farm-to-table .central {
  display: flex;
  justify-content: space-between;
}
section.farm-to-table .central .main {
  width: 768px;
}
section.farm-to-table .central .main .bigBanner {
  background-color: white;
  padding-bottom: 40px;
}
section.farm-to-table .central .main .bigBanner .text {
  padding: 10px 30px;
}
section.farm-to-table .central .main .bigBanner .text p {
  padding-top: 25px;
  margin: 25px 0;
  border-top: 1px dotted #bcbcbd;
}
section.farm-to-table .central .main .bigBanner h3 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  margin-top: 40px;
  transition: all 0.5s;
  margin-bottom: 5px;
}
section.farm-to-table .central .main .bigBanner h3:hover {
  color: #FC7625;
}
section.farm-to-table .central .main .bigBanner a {
  font-size: 14px;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}
section.farm-to-table .central .main .bigBanner i {
  vertical-align: middle;
}
section.farm-to-table .central .main .bigBanner .left {
  transition: all 0.5s;
}
section.farm-to-table .central .main .bigBanner .left:hover {
  color: #FC7625;
}
section.farm-to-table .central .main .bigBanner .left i {
  font-size: 10px;
}
section.farm-to-table .central .main .bigBanner .right {
  vertical-align: middle;
  float: right;
  transition: all 0.5s;
}
section.farm-to-table .central .main .bigBanner .right:hover {
  color: #FC7625;
}
section.farm-to-table .central .main .bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.farm-to-table .central .main .bottom .smallBanner {
  margin: 20px 0;
  width: 362px;
  background-color: white;
  padding-bottom: 25px;
}
section.farm-to-table .central .main .bottom .smallBanner h3 {
  margin-top: 20px;
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  padding: 0 20px;
  transition: all 0.5s;
}
section.farm-to-table .central .main .bottom .smallBanner h3:hover {
  color: #FC7625;
}
section.farm-to-table .central .main .more {
  font-weight: 600;
  background-color: #ddd8d3;
  padding: 8px 0;
  font-size: 17px;
  cursor: pointer;
}
section.farm-to-table .central .aside {
  width: 372px;
  text-align: left;
}
section.farm-to-table .central .aside .recipe {
  background-image: url("../img/ad-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 420px;
  display: flex;
}
section.farm-to-table .central .aside .recipe h3 {
  width: 110px;
  margin: auto;
  font-weight: 600;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}
section.farm-to-table .central .aside .city-guide {
  margin: 40px 0;
  position: relative;
}
section.farm-to-table .central .aside .city-guide .allCities {
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
  padding: 10px 0;
}
section.farm-to-table .central .aside .city-guide .allCities:hover {
  background-color: #f55e03;
}
section.farm-to-table .central .aside .city-guide .allCities i {
  padding: 0 5px;
}
section.farm-to-table .central .aside .city-guide span {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 21px;
}
section.farm-to-table .central .aside hr {
  color: #939697;
}
section.farm-to-table .central .aside .search {
  margin-top: 40px;
  color: #939697;
  border-radius: 5px;
  border: 1px solid #939697;
  background-color: white;
  padding: 10px 20px;
}
section.farm-to-table .central .aside .search i {
  cursor: pointer;
}
section.farm-to-table .central .aside .search input {
  border: none;
  outline: none;
  font-family: "Catamaran", sans-serif;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 18px;
}
section.farm-to-table .central .aside .social {
  margin-top: 40px;
}
section.farm-to-table .central .aside .social h4 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  color: #FC7625;
  font-size: 20px;
}
section.farm-to-table .central .aside .social ul {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
section.farm-to-table .central .aside .social ul li {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 0.5px solid #adafb0;
  background-color: #ddd8d3;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
}
section.farm-to-table .central .aside .social ul li div {
  font-size: 12px;
  background-color: #383b39;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  opacity: 0;
  bottom: -30px;
  line-height: 20px;
}
section.farm-to-table .central .aside .social ul li div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  height: 5px;
  width: 5px;
  background-color: #383b39;
}
section.farm-to-table .central .aside .social ul li a {
  color: #6a6b6c;
  transition: all 0.3s;
}
section.farm-to-table .central .aside .social ul li:hover a {
  color: #838586;
}
section.farm-to-table .central .aside .social ul li:hover div {
  opacity: 1;
}
section.farm-to-table .central .aside .category {
  margin-top: 40px;
  display: flex;
}
section.farm-to-table .central .aside .category span {
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 0;
  border: 0.5px solid #d4d5d6;
  transition: all 0.3s;
}
section.farm-to-table .central .aside .category span:first-child {
  border-right: none;
}
section.farm-to-table .central .aside .category span:hover {
  background-color: white;
}
section.farm-to-table .central .aside .bannerLinks {
  margin-top: 40px;
}
section.farm-to-table .central .aside .bannerLinks a {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
section.farm-to-table .central .aside .bannerLinks a img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}
section.farm-to-table .central .aside .bannerLinks a .info {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}
section.farm-to-table .central .aside .bannerLinks a .info h4 {
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}
section.farm-to-table .central .aside .bannerLinks a .info h4:hover {
  color: #FC7625;
}
section.farm-to-table .central .aside .bannerLinks a .info span {
  font-size: 14px;
}
section.farm-to-table .central .aside .tweets {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
section.farm-to-table .central .aside .tweets a {
  color: #2b7bb9;
}
section.farm-to-table .central .aside .tweets .top {
  padding: 15px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
section.farm-to-table .central .aside .tweets .top i {
  color: #939697;
}
section.farm-to-table .central .aside .tweets .top .title h3 {
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  color: black;
}
section.farm-to-table .central .aside .tweets .tweet-body {
  display: flex;
  padding: 15px;
}
section.farm-to-table .central .aside .tweets .tweet-body:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
section.farm-to-table .central .aside .tweets .tweet-body img {
  width: 32px;
  height: 32px;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet {
  padding-left: 5px;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet .user h4 {
  color: black;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet .user i {
  color: #e8e5e1;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet:hover .fab.fa-twitter {
  color: #1DA1F2;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet p {
  font-size: 14px;
  line-height: 20px;
  padding-right: 10px;
}
section.farm-to-table .central .aside .tweets .tweet-body .tweet-img {
  width: 280px;
  height: 175px;
  border-radius: 5px;
  margin-top: 25px;
}
section.farm-to-table .central .aside .tweets .tweet-body .icons {
  margin-top: 10px;
  font-size: 14px;
  color: #939697;
}
section.farm-to-table .central .aside .tweets .tweet-body .icons i {
  margin-right: 20px;
  transition: all 0.5s;
}
section.farm-to-table .central .aside .tweets .tweet-body .icons i:first-child:hover {
  color: red;
}
section.farm-to-table .central .aside .tweets .tweet-body .icons i.fas.fa-external-link-alt:hover {
  color: #2b7bb9;
}
section.farm-to-table .central .aside .tweets .tweet-body .icons span {
  float: right;
  font-size: 12px;
}

section.subscribe {
  text-align: center;
  width: 100%;
  height: 510px;
  background-color: white;
  background-image: url("../img/subscribe-sec-bg.png");
  background-size: cover;
  background-position-x: center;
  display: flex;
}
section.subscribe form {
  margin: auto;
}
section.subscribe form h2 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  font-size: 23px;
  font-weight: 500;
  font-size: 35px;
  font-weight: 500;
}
section.subscribe form h2 span {
  color: #FC7625;
}
section.subscribe form p {
  width: 754px;
  font-size: 17px;
  margin-top: 20px;
}
section.subscribe form input {
  margin-top: 40px;
  width: 460px;
  border: none;
  outline: none;
  font-family: "Catamaran", sans-serif;
  border-radius: 5px;
  border: 2px solid #e8e5e1;
  padding: 10px 20px;
  font-size: 18px;
  transition: all 0.5s;
}
section.subscribe form input:hover {
  border-color: #fdb58a;
}
section.subscribe form input:focus {
  border-color: #FC7625;
}
section.subscribe form a {
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  transition: all 0.3s;
  padding: 10px 50px;
  font-size: 18px;
  margin-left: 20px;
}
section.subscribe form a:hover {
  background-color: #f55e03;
}
section.subscribe form .bottom {
  font-size: 12px;
  margin-top: 30px;
}

section.bottom-imgs {
  text-align: center;
  width: 100%;
}
section.bottom-imgs ul {
  width: 100%;
  display: flex;
}
section.bottom-imgs ul li {
  width: 25%;
  position: relative;
}
section.bottom-imgs ul li a img {
  width: 100%;
}

footer {
  padding: 0 10%;
}
footer .top {
  padding: 70px 0;
  display: flex;
}
footer .top > div {
  width: 25%;
  padding: 5px 50px;
}
footer .top > div:not(:first-child) {
  border-left: 1px dashed #ddd8d3;
}
footer .top .logo {
  padding-left: 0;
}
footer .top .logo img {
  margin-bottom: 40px;
}
footer .top .logo ul {
  display: flex;
}
footer .top .logo ul li {
  position: relative;
}
footer .top .logo ul li div {
  font-size: 12px;
  background-color: #383b39;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  opacity: 0;
}
footer .top .logo ul li div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  height: 5px;
  width: 5px;
  background-color: #383b39;
}
footer .top .logo ul li a {
  color: #939697;
  margin: 10px;
  font-size: 18px;
  transition: all 0.5s;
}
footer .top .logo ul li a:hover {
  color: #adafb0;
}
footer .top .logo ul li:hover div {
  opacity: 1;
}
footer .top .nav li {
  padding: 10px 0;
}
footer .top .nav li a {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.5s;
}
footer .top .nav li a:hover {
  color: #FC7625;
}
footer .top .contact i {
  color: #939697;
  margin-right: 15px;
  vertical-align: bottom;
  padding-top: 5px;
  font-size: 18px;
}
footer .top .contact h3 {
  color: #FC7625;
}
footer .top .contact div {
  margin-top: 20px;
  display: flex;
}
footer .top .contact div a {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
  transition: all 0.5s;
}
footer .top .contact div a:hover {
  color: #FC7625;
}
footer .top .getApp h3 {
  color: #FC7625;
  margin-bottom: 20px;
}
footer .top .getApp img {
  display: block;
  margin-top: 15px;
}
footer .bottom {
  text-align: center;
  font-size: 12px;
  padding-bottom: 25px;
}
