* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.layover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(148, 40, 40, 0.8), #fc7524);
  opacity: 0;
  transition: all 0.5s;
}
.layover:hover {
  cursor: pointer;
  opacity: 1;
}

.photo {
  position: relative;
}

img {
  width: 100%;
  display: block;
}

header {
  background-color: white;
  padding: 0 10%;
}
header .top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
header .top .download {
  font-size: 12px;
}
header .top .download a {
  padding: 0 13px;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}
header .top .download a span {
  margin-left: 3px;
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  padding: 0 5px;
  font-size: 10px;
}
header .top .icons {
  font-size: 16px;
}
header .top .icons i {
  padding: 0 15px;
  color: #939697;
}
header .logo {
  margin: auto;
  display: block;
  margin-bottom: 15px;
  width: 152px;
}

nav {
  width: 100%;
  background-color: white;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  right: 0;
  top: 0;
}
nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
  padding: 15px 0;
}
nav ul li a {
  font-weight: 600;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
  margin: 0 30px;
}
nav i {
  margin-left: 30px;
}

.jumbotron {
  background-image: url("../img/single-post-img3.jpg");
  width: 100%;
  height: 720px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.jumbotron .banner {
  display: inline-block;
  width: 700px;
  background-color: white;
  margin: auto;
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  text-align: center;
  padding: 60px 0;
  border-radius: 8px;
  position: relative;
}
.jumbotron .banner h1 {
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 30px;
}
.jumbotron .banner .pick {
  position: absolute;
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  padding: 7px 20px;
  font-size: 16px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

main {
  background-color: #e8e5e1;
  padding: 0 10%;
  text-align: center;
}
main section.foodie-journal {
  background-color: white;
  position: relative;
  top: -75px;
}
main section.foodie-journal > h3 {
  padding: 30px 0;
  position: relative;
}
main section.foodie-journal > h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 37%;
  height: 50%;
  border-top: 1px dotted #bcbcbd;
  right: 40px;
}
main section.foodie-journal > h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 37%;
  height: 50%;
  border-top: 1px dotted #bcbcbd;
  left: 40px;
}
main section.foodie-journal ul {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
main section.foodie-journal ul li {
  width: 345px;
  position: relative;
  margin-bottom: 50px;
}
main section.foodie-journal ul li h3 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  margin-top: 25px;
}
main section.popular-recipes .images {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
main section.popular-recipes .images h3 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  margin-top: 25px;
}
main section.popular-recipes .images > * {
  max-width: 600px;
}
main section.popular-recipes .images .bigBanner {
  background-color: white;
  text-align: left;
  padding-bottom: 40px;
}
main section.popular-recipes .images .bigBanner .text {
  padding: 10px 30px;
}
main section.popular-recipes .images .bigBanner .text p {
  padding-top: 25px;
  margin: 25px 0;
  border-top: 1px dotted #bcbcbd;
}
main section.popular-recipes .images .bigBanner .btn {
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  font-size: 14px;
  padding: 10px 20px;
}
main section.popular-recipes .images .smallBanner {
  margin-left: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main section.popular-recipes .images .smallBanner > * {
  width: 275px;
}
main section.popular-recipes .images .smallBanner img {
  height: 175px;
}
main section.culinary-collection .types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
  padding: 30px 0;
}
main section.culinary-collection .types .cards {
  width: 264px;
  height: 170px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}
main section.culinary-collection .types .cards img {
  width: 96px;
  height: 96px;
  transition: all 1s;
}
main section.culinary-collection .types .cards img:hover {
  width: 106px;
  height: 106px;
  cursor: pointer;
}
main section.farm-to-table .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
main section.farm-to-table .top .text {
  text-align: left;
  max-width: 525px;
}
main section.farm-to-table .top a {
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  padding: 10px 25px;
  font-size: 14px;
}
main section.farm-to-table .central {
  display: flex;
  justify-content: space-between;
}
main section.farm-to-table .central .main {
  width: 768px;
}
main section.farm-to-table .central .main .bigBanner {
  background-color: white;
  text-align: left;
  padding-bottom: 40px;
}
main section.farm-to-table .central .main .bigBanner .text {
  padding: 10px 30px;
}
main section.farm-to-table .central .main .bigBanner .text p {
  padding-top: 25px;
  margin: 25px 0;
  border-top: 1px dotted #bcbcbd;
}
main section.farm-to-table .central .main .bigBanner h3 {
  font-family: "Vidaloka", sans-serif;
  color: #272628;
  margin-top: 40px;
}
main section.farm-to-table .central .main .bigBanner a {
  font-size: 14px;
  font-family: "Catamaran", sans-serif;
  color: #383b39;
}
main section.farm-to-table .central .main .bigBanner i {
  vertical-align: middle;
}
main section.farm-to-table .central .main .bigBanner .right {
  float: right;
}
main section.farm-to-table .central .main .bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main section.farm-to-table .central .main .bottom .smallBanner {
  margin: 20px 0;
  width: 362px;
  background-color: white;
  padding-bottom: 25px;
}
main section.farm-to-table .central .main .bottom .smallBanner h3 {
  margin-top: 20px;
  font-family: "Vidaloka", sans-serif;
  color: #272628;
}
main section.farm-to-table .central .main .more {
  font-weight: 600;
  background-color: #ddd8d3;
  padding: 8px 0;
  font-size: 17px;
}
main section.farm-to-table .central .aside {
  width: 372px;
}
main section.farm-to-table .central .aside .recipe {
  background-image: url("../img/ad-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 420px;
  display: flex;
}
main section.farm-to-table .central .aside .recipe h3 {
  width: 110px;
  margin: auto;
  font-weight: 600;
}
main section.farm-to-table .central .aside .city-guide {
  margin: 50px 0;
  position: relative;
}
main section.farm-to-table .central .aside .city-guide div {
  font-size: 14px;
  border-radius: 2px;
  background-color: #FC7625;
  color: white;
  font-family: "Catamaran", sans-serif;
  padding: 10px 0;
}
main section.farm-to-table .central .aside .city-guide div i {
  padding: 0 5px;
}
main section.farm-to-table .central .aside .city-guide span {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 21px;
}
main section.farm-to-table .central .aside hr {
  color: #939697;
}
main section.farm-to-table .central .aside .search {
  margin-top: 50px;
  color: #939697;
  border-radius: 5px;
  border: 1px solid #939697;
  background-color: white;
  text-align: left;
  padding: 10px 20px;
}
main section.farm-to-table .central .aside .search i {
  cursor: pointer;
}
main section.farm-to-table .central .aside .search input {
  border: none;
  outline: none;
  font-family: "Catamaran", sans-serif;
  vertical-align: middle;
  margin-left: 20px;
}
