footer {
    padding: $wrapper;
    .top {
        padding: 70px 0;
        display: flex;
        & > div {
            width: 25%;
            padding: 5px 50px;
            &:not(:first-child) {
                border-left: 1px dashed darken($mainColor, 5%);
            }
        }
        .logo {
            padding-left: 0;
            img {
                margin-bottom: 40px;
            }
            ul {
                display: flex;
                li {
                    position: relative;
                    div {
                        @include nameBanner;
                    }
                    a {
                        color: $socialIconsColor;
                        margin: 10px;
                        font-size: 18px;
                        transition: all .5s;
                        &:hover {
                            color: lighten($socialIconsColor, 10%);
                        }
                    }
                    &:hover {
                        div {
                            opacity:1;
                        }
                    }
                }
                
            }
        }
        .nav {
            li {
                padding: 10px 0;
                a {
                    @include commonText;
                    font-weight: 600;
                    font-size: 18px;
                    transition: all 0.5s;
                    &:hover {
                        color: $orangeBrand;
                    }
                }
            }
            
        }
        .contact {
            i {
                color: $socialIconsColor;
                margin-right: 15px;
                vertical-align: bottom;
                padding-top: 5px;
                font-size: 18px;
            }
            h3 {
                color: $orangeBrand;
            }
            div {
                margin-top: 20px;
                display: flex;
                a {
                    @include commonText;
                    @include hoverBrand; 
                }
            }

        }
        .getApp {
            h3 {
                color: $orangeBrand;
                margin-bottom: 20px;
            }
            img {
                display: block;
                margin-top: 15px;
            }
        }    
    }
    .bottom {
        text-align: center;
        font-size: 12px;
        padding-bottom: 25px;
    }
}