main {
    background-color: #e8e5e1;
    padding: $wrapper;
    text-align: center;
    section.foodie-journal {
        background-color: $backHeaderColor;
        position: relative;
        top: -75px;
        & > h3 {
            padding: 30px 0;
            position: relative;
            &::before {
                @include lines;
                right: 40px;
            }
            &::after {
                @include lines;
                left: 40px;
            }
        }
        ul { 
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            li {
                h3 {
                    @include titleText;
                    margin-top: 25px;
                }
                width: 345px;
                position: relative;
                margin-bottom: 50px;
            }
        }
    
    }
    section.popular-recipes {
        .images {
            h3 {
                @include titleText;
                margin-top: 25px;
            }
            padding: 60px 0;
            display: flex;
            justify-content: space-between;
            & > * {
                max-width: 600px;
            }
            .bigBanner {
                background-color: $backHeaderColor;
                text-align: left;
                padding-bottom: 40px;
                .text {
                    padding: 10px 30px;
                    p {
                        padding-top: 25px;
                        margin: 25px 0;
                        border-top: 1px dotted #bcbcbd;
                    }
                    .btn {
                        @include buttonsStyle;
                        font-size: 14px;
                        padding: 10px 20px;
                    }
                }
            }
            .smallBanner {
                margin-left: 45px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                & > * {
                    width: 275px;
                }
            }
        }
        
    }
}