main {
    p {
        font-size: 18px;
    }
    background-color: $mainColor;
    padding: $wrapper;
    text-align: center;
}

@import "partials/main/_section-foodieJournal";
@import "partials/main/_section-popularRecipes";
@import "partials/main/_section-culinaryCollection";
@import "partials/main/_section-farmToTable";

