@mixin commonText {
    font-family: 'Catamaran', sans-serif;
    color: #383b39;
}

@mixin titleText  {
    font-family: 'Vidaloka', sans-serif;
    color: #272628;
    font-size: 23px;
    font-weight: 500;
}

@mixin buttonsStyle {
    border-radius: 2px;
    background-color: $orangeBrand;
    color: $backHeaderColor;
    font-family: 'Catamaran', sans-serif;
    transition: all 0.3s;
        &:hover {
            background-color: darken($orangeBrand, 8%);
        }
}

@mixin lines {
    content: '';
    position: absolute;
    bottom: 0;
    width: 37%;
    height: 50%;
    border-top: 1px dotted #bcbcbd;
}

@mixin bigBannerStyle {
    background-color: $backHeaderColor;
    padding-bottom: 40px;
    .text {
        padding: 10px 30px;
        p {
            padding-top: 25px;
            margin: 25px 0;
            border-top: 1px dotted #bcbcbd;
        }
    }
}

@mixin inputStyle {
    border: none;
    outline: none;
    font-family: 'Catamaran', sans-serif;
}

@mixin nameBanner {
    font-size: 12px;
    background-color:#383b39;
    color: $backHeaderColor;
    padding: 2px 5px;
    border-radius: 3px;
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
    opacity: 0;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(45deg);
        height: 5px;
        width: 5px;
        background-color: #383b39;
    }
}

@mixin commonDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}