@mixin commonText {
    font-family: 'Catamaran', sans-serif;
    color: #383b39;
}

@mixin titleText  {
    font-family: 'Vidaloka', sans-serif;
    color: #272628;
}

@mixin buttonsStyle {
    border-radius: 2px;
    background-color: $orangeBrand;
    color: $backHeaderColor;
    font-family: 'Catamaran', sans-serif;
}

@mixin lines {
    content: '';
    position: absolute;
    bottom: 0;
    width: 37%;
    height: 50%;
    border-top: 1px dotted #bcbcbd;
}

@mixin bigBannerStyle {
    background-color: $backHeaderColor;
    padding-bottom: 40px;
    .text {
        padding: 10px 30px;
        p {
            padding-top: 25px;
            margin: 25px 0;
            border-top: 1px dotted #bcbcbd;
        }
    }
}

@mixin inputStyle {
    border: none;
    outline: none;
    font-family: 'Catamaran', sans-serif;
}