$orangeBrand: #FC7625;
$socialIconsColor:#939697;
$backHeaderColor: white;
$wrapper: 0 10%;
$mainColor:  #e8e5e1;
$TweetlinkColor: #2b7bb9;
$dateColor: rgb(103, 97, 90);
$titleFont: 'Vidaloka', sans-serif;
$commonFont: 'Catamaran', sans-serif;