section.popular-recipes {
    .images {
        h3 {
            @include titleText;
            margin-top: 25px;
            @include hoverBrand;
        }
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        & > * {
            max-width: 600px;
        }
        .bigBanner {
            @include bigBannerStyle;
            p {
                padding-right: 20px;
                margin-bottom: 5px;
            }
            span {
                a {
                    @include commonText;
                    @include hoverBrand; 
                    font-size: 15px;
                }
            }
            .btn {
                @include buttonsStyle;
                font-size: 14px;
                padding: 10px 20px;
            }
        }
        .smallBanner {
            margin-left: 45px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            & > * {
                width: 275px;
            }
            img {
                height: 175px;
            }
        }
    }  
}